<% provide(:title, "Modifica locale") %>
<h1>Modifica <%= @local.name %></h1>

<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAXXF9Al_dOIDzdjzBcd5vgF8RtcWNE8_Y&libraries=places&sensor=false&callback=modifyAddr" async defer></script>

<script>
  var options = {
    types: ['address'],
    componentRestrictions: {country: "it"}
  };

  function modifyAddr() {
    var input = document.getElementById("loc-address-modify");
    new google.maps.places.Autocomplete(input, options);
  }
</script>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@local) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          Nome: <%= f.text_field :name, placeholder: @local.name, class: 'form-control' %>
        </div>

        <div class="field">
          Categoria: <%= f.select(:category, ['Pub', 'Ristorante', 'Dance']) %>
        </div>

        <div class="field">
          Indirizzo: <%= f.text_field :address, id: "loc-address-modify", placeholder: @local.address, class: 'form-control' %>
        </div>

        <div class="field">
          Telefono: <%= f.text_field :telephone, placeholder: "Inserisci telefono", class: "form-control" %>
        </div>

        <div class="field">
          Sito web: <%= f.text_field :website, placeholder: "Inserisci sito internet", class: "form-control" %>
        </div>

        <div class="field">
          Descrizione: <%= f.text_area :description, placeholder: @local.description, class: 'form-control' %>
        </div>

        <div class="field">
          Partita IVA: <%= f.text_field :iva, placeholder: "Inserisci partita iva", class: "form-control" %>
        </div>

        <span class="picture">
          Inserisci foto: <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
        </span>

        <div class="checkbox" style="margin-left:-20px">
        <label> 
          Elimina foto&nbsp;&nbsp;<%= check_box_tag 'remove_photo', 'yes', false %> 
        </label>
      </div>
      <%= f.submit "Salva modifiche", class: "btn btn-primary" %>
    <% end %>
    <br><br>
      <%= link_to 'Annulla', :back %>
  </div>
</div>