<%= provide(:title, @local.name) %>

<center><h1><%= @local.name %></h1></center><br>

<% if @local.picture? %>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
        <%= image_tag @local.picture.url, class: 'thumbnail' %>
      </div>
      <div class="col-sm-3">
        
        <% if user_signed_in? %>
          <% if current_user==@local.user && current_user.role=='Gestore'%>
            <%= link_to 'Modifica', edit_local_path(@local), class: "edit-link" %><br>
            <%= link_to "Elimina", @local, method: :delete,
                                           data: { confirm: "Sei sicuro?" }, class: "delete-link" %><br><br>
          <% elsif current_user==@local.user%>
          <% elsif current_user.role == 'admin' %>
          <%= link_to "Elimina", @local, method: :delete,
                                           data: { confirm: "Sei sicuro?" }, class: "delete-link" %><br><br>
          <% else %>
            <div id="follow_form">
              <% if current_user.following_local?(@local) %>
                <%= form_for(current_user.active_local_relationships.find_by(followed_id: @local.id),
               html: { method: :delete }) do |f| %>
                  <%= f.submit "Segui già", data: { confirm: "Sei sicuro?" }, class: "unfollow-btn" %>
                <% end %>
              <% else %>
                <%= form_for(current_user.active_local_relationships.build) do |f| %>
                  <div><%= hidden_field_tag :followed_id, @local.id %></div>
                  <%= f.submit "Segui", class: "follow-btn" %>
                <% end %>
              <% end %>
            </div>
          <% end 
        end %>
        <span><img src="/assets/eye-icon.png" width="20px" height="20px">&nbsp;&nbsp;<%= @local.followers.count %></span>
        <br><br>
        <%= rating_for @local, 'stars', star: 5, disable_after_rate: false, half_show: false, enable_half: false, imbd_avg: true, cancel: false, cancel_place: 'right' %>
        <% if @local.rates("stars").count > 1 %>
          <small>(<%= @local.rates("stars").count %> voti)</small>
        <% elsif @local.rates("stars").count == 1 %>
          <small>(1 voto)</small>
        <% else %>
          <small>(0 voti)</small>
        <% end %>
        <br><br>
        <% if user_signed_in? && current_user.role == 'Cliente' %>
          <%= link_to "Segnala", signal_local_path(@local), method: :put, data:{confirm:"Sei sicuro?"} %>
        <% end %>       
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <!--Nome locale: <%= link_to @local.name, @local %><br>-->
      <br>
      <p><b>Categoria:</b> <%= @local.category %></p>
      <p><b>Indirizzo:</b> <%= @local.address %></p>
      <p><% if not @local.telephone.blank? %><b>Telefono:</b> <%= @local.telephone %></p><% end %>
      <% if not @local.website.blank?%><p><b>Sito web:</b> <%= link_to @local.website, "http://#{@local.website}" %></p><% end %>
      <p><b>Descrizione:</b> <%= @local.description %></p>

      <% if user_signed_in? %>
        <% if current_user==@local.user %>
            <p><b>Partita IVA:</b> <%= @local.iva %></p>
            <small>
              Postato <%= time_ago_in_words(@local.created_at) %> fa
            </small>
        <% end 
      end %>  
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="col-sm-1"></div>
      <div class="col-sm-7">
        <!--Nome locale: <%= link_to @local.name, @local %><br>-->
        <p><b>Categoria:</b> <%= @local.category %></p>
        <p><b>Indirizzo:</b> <%= @local.address %></p>
        <p><% if not @local.telephone.blank? %><b>Telefono:</b> <%= @local.telephone %></p><% end %>
        <% if not @local.website.blank?%><p><b>Sito web:</b> <%= link_to @local.website, "http://#{@local.website}" %></p><% end %>
        <p><b>Descrizione:</b> <%= @local.description %></p>

        <% if user_signed_in? %>
          <% if current_user==@local.user %>
            <p><b>Partita IVA:</b> <%= @local.iva %></p>
            <small>
              Postato <%= time_ago_in_words(@local.created_at) %> fa
            </small>
          <% end 
        end %>  
      </div>
      <div class="col-sm-1"></div> 
      <div class="col-sm-3">
        <% if user_signed_in? %>
          <% if current_user==@local.user && current_user.role=='Gestore'%>
            <%= link_to 'Modifica', edit_local_path(@local), class: "edit-link" %><br>
            <%= link_to "Elimina", @local, method: :delete,
                                           data: { confirm: "Sei sicuro?" }, class: "delete-link" %><br><br>
          <% elsif current_user==@local.user%>
          <% elsif current_user.role == 'admin' %>
          <%= link_to "Elimina", @local, method: :delete,
                                           data: { confirm: "Sei sicuro?" }, class: "delete-link" %><br><br>
          <% else %>
            <div id="follow_form">
              <% if current_user.following_local?(@local) %>
                <%= form_for(current_user.active_local_relationships.find_by(followed_id: @local.id),
               html: { method: :delete }) do |f| %>
                  <%= f.submit "Segui già", data: { confirm: "Sei sicuro?" }, class: "unfollow-btn" %>
                <% end %>
              <% else %>
                <%= form_for(current_user.active_local_relationships.build) do |f| %>
                  <div><%= hidden_field_tag :followed_id, @local.id %></div>
                  <%= f.submit "Segui", class: "follow-btn" %>
                <% end %>
              <% end %>
            </div>
          <% end 
        end %>
        
        <span><img src="/assets/eye-icon.png" width="20px" height="20px">&nbsp;&nbsp;<%= @local.followers.count %></span>
        <br><br>
        <%= rating_for @local, 'stars', star: 5, disable_after_rate: false, half_show: false, enable_half: false, imbd_avg: true, cancel: false, cancel_place: 'right' %>
        <% if @local.rates("stars").count > 1 %>
          <small>(<%= @local.rates("stars").count %> voti)</small>
        <% elsif @local.rates("stars").count == 1 %>
          <small>(1 voto)</small>
        <% else %>
          <small>(0 voti)</small>
        <% end %>
        <br><br>
        <% if user_signed_in? && current_user.role == 'Cliente' %>
          <%= link_to "Segnala", signal_local_path(@local), method: :put, data:{confirm:"Sei sicuro?"} %>
        <% end %>       
      </div>
    </div>
  </div>
<% end %>

<br><br>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if not @events.blank? %>
      <h5>Eventi del locale:</h5>
      <ul class="events">
        <%= render @events %>
      </ul>
      <%= will_paginate @events %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render "comments/widget", commentable: @local %>
  </div>
</div>
