<%= provide(:title, 'Registrati') %>
<br><h1>Registrati</h1><br>

<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAXXF9Al_dOIDzdjzBcd5vgF8RtcWNE8_Y&libraries=places&sensor=false&callback=searchCity" async defer></script>

<script>
  var options = {
    types: ['(cities)'],
    componentRestrictions: {country: "it"}
  };

  function searchCity() {
    var input = document.getElementById("loc-city");
    new google.maps.places.Autocomplete(input, options);
  }
</script>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :Username %><br />
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :Città %><br />
        <%= f.text_field :city, id: "loc-city", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= f.submit "Registrati", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<br><br><br>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-block btn-social btn-facebook" do %>
            <span class="fa fa-facebook" ></span><center>Accedi da Facebook</center>
        <% end %>
      <% end -%>
    <% end -%>
    <br><br><br>
  </div>
</div>