<li id="comment_<%= comment.id %>" class="comment">
  <% if user_signed_in? && comment.commentable_type=='Local' && comment.user == Local.find(comment.commentable_id).user %>
    <b><%= Local.find(comment.commentable_id).name %></b>
  <% elsif user_signed_in? && comment.commentable_type=='Event' && comment.user == Event.find(comment.commentable_id).local.user %>
    <b><%= Event.find(comment.commentable_id).local.name %></b>
  <% else %>
    <b><%= comment.user.name %></b>
  <% end %>
  <div class="comment-content">
    <%= comment.content %>
  </div>
  <div class="comment-info">
    <small>
      <% if user_signed_in? %>
        <% if current_user == comment.user %>
          <%= link_to "Modifica", edit_polymorphic_path([comment.commentable, comment]), class: 'edit-comment-link', remote: true  %> &bull;
          <%= link_to "Elimina", [comment.commentable, comment], method: :delete, class: 'delete-comment-link', data:{confirm:"Sei sicuro?"}, remote: true %> &bull;
        <% elsif current_user.role == 'admin' %>
          <%= link_to "Elimina", [comment.commentable, comment], method: :delete, class: 'delete-comment-link', data:{confirm:"Sei sicuro?"}, remote: true %> &bull;
        <% else %>
        <div style="display:none">
          <%= link_to "", edit_polymorphic_path([comment.commentable, comment]), class: 'edit-comment-link'  %> &bull;
          <%= link_to "", [comment.commentable, comment], class: 'delete-comment-link' %> &bull;
        </div>
        <% end %>
        <%= link_to "Rispondi", polymorphic_path([:reply, comment.commentable, comment]), class: 'reply-comment-link', remote: true  %> &bull;
      
        <% if comment.commentable_type == 'Local' %>

          <% if current_user.voted_up_on? comment %>
            <%= link_to "Non mi piace più", dislike_local_comment_path(comment.commentable.id, comment), method: :put, remote: true %>
          <% else %>
            <%= link_to "Mi piace", like_local_comment_path(comment.commentable.id, comment), method: :put, remote: true %>
          <% end %>

          <div style="float:right; color: #bbb;">
            <% if current_user.role != 'admin' && comment.user.role != 'admin' && current_user != comment.user%>
              <%= link_to "Segnala", signal_local_comment_path(comment.commentable.id, comment), method: :put, data:{confirm:"Sei sicuro?"} %>&bull; 
            <% end %>
            <%= localize(comment.updated_at, format: :long) %>
          </div>
        <% elsif comment.commentable_type == 'Event' %>

          <% if current_user.voted_up_on? comment %>
            <%= link_to "Non mi piace più", dislike_event_comment_path(comment.commentable.id, comment), method: :put, remote: true %>
          <% else %>
            <%= link_to "Mi piace", like_event_comment_path(comment.commentable.id, comment), method: :put, remote: true %>
          <% end %>

          <div style="float:right; color: #bbb;">
            <% if current_user.role != 'admin' && comment.user.role != 'admin' && current_user != comment.user%>
              <%= link_to "Segnala", signal_event_comment_path(comment.commentable.id, comment), method: :put, data:{confirm:"Sei sicuro?"} %>&bull; 
            <% end %>
            <%= localize(comment.created_at, format: :long) %>
          </div>
      <% end 
      end %>
      <% if comment.likes > 0 %>
        + <%= comment.likes %>
      <% end %>
    </small>
  </div>
  <% if comment.replies.any? %>
    <ul>
      <%= render comment.replies.order(:created_at) %>
    </ul>
  <% end %>
</li>