<div class="comment-form">
  <%= form_for [comment.commentable, comment], remote: true do | f | %>
    <%= f.hidden_field :parent_id %>
    &nbsp;<%= link_to "Annulla", "#", 'data-reply': comment.parent_id.present?, class: 'cancel-comment-link' if comment.persisted? or comment.parent %>
    
    <div class="input-group">
		  <%= f.text_field :content, label: false, placeholder: (f.object.parent_id.nil? ? 'Commenta...' : 'Rispondi al commento...'), class: 'form-control' %>
		  <div class="input-group-btn">
		  	<%= f.submit "Invia", class: 'btn btn-in' %>
		  </div>
		</div>
    <div class="clearfix"></div>
  <% end %>
</div>