<div id="comments-widget-of-commentable-<%= commentable.id %>" class="comments-widget">
  <h2 class="comments-header">
    Commenti:
    <small id="comments-count-of-commentable-<%= commentable.id %>">
      <%= commentable.comments.size %>
    </small>
  </h2>
  <ul class="comments-list">
    <%= render commentable.comments.where(parent: nil) %>
  </ul>
  <!-- comment-form -->
  <% if user_signed_in? %>
    <%= render "comments/form", comment: commentable.comments.build  %>
  <% end %>
</div>