<div id="comments-widget-of-commentable-<%= commentable.id %>" class="comments-widget">
  <h2 class="comments-header">
    Commenti:
    <small id="comments-count-of-commentable-<%= commentable.id %>">
      <%= commentable.comments.size %>
    </small>
  </h2>

  <!-- comment-form -->
  <% if user_signed_in? %>
    <%= render "comments/form", comment: commentable.comments.build %>
  <% end %>

  <ul class="comments-list">
    <%= render commentable.comments.where({parent: nil, user_id: current_user.id}).order(created_at: :desc) %>
    <%= render commentable.comments.where(parent: nil).where.not(user_id: current_user.id).order(likes: :desc, created_at: :desc) %>
  </ul>
</div>