<li id="notification-<%= notification.id %>">
  <div class="row">
    <div class="col-sm-12">
      <% if (notification.text == "Evento scaduto!") %>
        <%= notification.text %>
        <p>Il tuo evento "<b><%= notification.event.name %></b>" è stato eliminato perchè scaduto alle
        <b><%=notification.end.strftime("ore %H:%M del %d-%m-%y") %></b></p>
		  
      <% elsif (notification.text == "Nuovo evento!") %>
        <%= notification.text %>
        	<p>Ciao! Il locale "<b><%= link_to notification.local.name, notification.local %></b>" che stai seguendo ha appena pubblicato un nuovo evento: <%= link_to notification.event.name, notification.event %></p>
      
      <% elsif (notification.text == "Evento seguito scaduto!") %>
        <%= notification.text %>
        <p>L'evento "<b><%= notification.event.name %></b>" seguito in precedenza è scaduto!</p>
      
      <% elsif (notification.text == "Evento in avvicinamento!") %>
        <%= notification.text %>
        <p>L'evento "<b><%= link_to notification.event.name, notification.event %></b>" si terrà alle <b><%=notification.end.strftime("ore %H:%M del %d-%m-%y") %></b></p>
      
      <% elsif (notification.text == "Evento eliminato da Admin!") %>
        <%= notification.text %>
        <p>Il tuo evento "<b><%= notification.event.name %></b>" è stato eliminato dall'Admin a causa delle segnalazioni ricevute dagli utenti.</p>
      
      <% elsif (notification.text == "Locale eliminato da Admin!") %>
        <%= notification.text %>
        <p>Il tuo locale "<b><%= notification.local.name %></b>" è stato eliminato dall'Admin a causa delle segnalazioni ricevute dagli utenti.</p>
      
      <% elsif (notification.text == "Il tuo locale è stato commentato!") %> 
        <%= notification.text %>
        <p><b><%= notification.written_by %></b> ha aggiunto un <%= link_to "commento", local_path(notification.local, anchor: "comment_" + notification.comment_id.to_s)%> al tuo locale "<b><%= link_to notification.local.name, notification.local %></b>": <%= truncate(notification.comment.content, :length => 20) %> ...</p>
      
      <% elsif (notification.text == "Il tuo evento è stato commentato!") %> 
        <%= notification.text %>
        <p><b><%= notification.written_by %></b> ha aggiunto un <%= link_to "commento", event_path(notification.event, anchor: "comment_" + notification.comment_id.to_s)%> al tuo evento "<b><%= link_to notification.event.name, notification.event %></b>": <%= truncate(notification.comment.content, :length => 20) %> ...</p>

      <% elsif (notification.text == "Qualcuno ha risposto al tuo commento!") %>
        <%= notification.text %>
        <% if notification.event != nil && notification.local == nil %>
          <p><b><%= notification.written_by %></b> ha risposto al tuo <%= link_to "commento", event_path(notification.event, anchor: "comment_" + notification.comment_id.to_s)%> sull'evento <b><%= link_to notification.event.name, notification.event %></b>": <%= truncate(notification.comment.content, :length => 20) %>...</p>
        <% elsif notification.local != nil && notification.event == nil %>
          <p><b><%= notification.written_by %></b> ha risposto al tuo <%= link_to "commento", local_path(notification.local, anchor: "comment_" + notification.comment_id.to_s)%> sull'evento <b><%= link_to notification.local.name, notification.local %></b>": <%= truncate(notification.comment.content, :length => 20) %> ...</p>
        <% end %>

      <% elsif (notification.text == "Segnalazione locale!") %> 
        <%= notification.text %>
        <p><b><%= notification.written_by %></b> ha segnalato un locale: "<b><%= link_to notification.local.name, notification.local %></b>"</p>

      <% elsif (notification.text == "Segnalazione evento!") %> 
        <%= notification.text %>
        <p><b><%= notification.written_by %></b> ha segnalato un evento: "<b><%= link_to notification.event.name, notification.event %></b>"</p>

      <% elsif (notification.text == "Segnalazione commento!") %> 
        <%= notification.text %>
        <% if notification.event != nil && notification.local == nil %>
          <p><b><%= notification.written_by %></b> ha segnalato un <%= link_to "commento", event_path(notification.event, anchor: "comment_" + notification.comment_id.to_s)%> sull'evento <b><%= link_to notification.event.name, notification.event %></b>": <%= truncate(notification.comment.content, :length => 20) %>...</p>
        <% elsif notification.local != nil && notification.event == nil %>
          <p><b><%= notification.written_by %></b> ha segnalato un <%= link_to "commento", local_path(notification.local, anchor: "comment_" + notification.comment_id.to_s)%> sull'evento <b><%= link_to notification.local.name, notification.local %></b>": <%= truncate(notification.comment.content, :length => 20) %> ...</p>
        <% end %>

      <% end %> 
    </div>
  </div>
</li>