<%= provide(:title,'Eventi in città') %>

<div class="row">
  <div class="col-md-12">

  	<h1>Eventi in città</h1><br><br>
  	<% if not @events.blank?%>
  	<div class="form-inline" style="float:right">
  		<%= form_tag(all_events_path, :method => "get", id: "search-form",:class => 'form-inline', :style => 'float:left') do %>
  		<div class="form-group">
    		<div class="input-group">
      		<span class="input-group-btn">
		  			<%= submit_tag "Applica", :name => nil, class: "btn btn-xs btn-in" %>
		  		</span>
      		<%= text_field_tag :search_date, params[:search_date], placeholder: " Inserisci data e ora", class: 'datetimepicker12 form-control-sm' %>
      	</div>
      </div>
      <div class="form-group">
      	<%= select_tag(:search_category, options_for_select(['Ristorante','Pub','Dance']), include_blank: 'Categoria', class: 'form-control-sm') %>
      </div>
      <div class="form-group">
      	<%= select_tag(:order_category, options_for_select(['Più recenti','Più popolari']), include_blank: 'Ordina per', class: 'form-control-sm') %>	
    	</div>
    	<% end %>
  	</div>
  	<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<% if @city_user.blank? %>
			<p><%= link_to "Inserisci la tua città", edit_user_registration_path %></p>
		<% else %>
			<% if @locals.empty? %>
				<center><h4>Non ci sono locali iscritti nella tua città!</h4>
				<p>Controlla di aver selezionato correttamente la tua città dalle <%= link_to "impostazioni", edit_user_registration_path %></p></center>
			<% else %>
				<% if @events.blank? %>
					<% if @category != nil || @date != nil %>
						<center><p>Non ci sono eventi con queste caratteristiche nella tua città!</p></center>
					<% else %>
						<center><p>Non ci sono eventi nella tua città!</p></center>
					<% end %>
				<% else %>
					<h4>Eventi a <%= @city_user %>:</h4>
					<ul class="events">
		   			<%= render @events %>
					</ul>
					<%= will_paginate @events %>
				<% end 
			end
		end %>
	</div>
</div>

<script type="text/javascript">
  $(function () {
    $('.datetimepicker12').datetimepicker({
      sideBySide: true,
      format: 'D-M-YYYY HH:mm',
      minDate: moment()
    });
  });
</script>
