<%= provide(:title,'Eventi in città') %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
		<%= form_tag(all_events_path, :method => "get", id: "search-form") do %>
			<div class="form-inline">
				<%= select_tag(:search_category, options_for_select(['Ristorante','Pub','Dance']), include_blank: 'Inserisci categoria', class: 'form-control') %>
				&nbsp;&nbsp;
		    <%= text_field_tag :search_date, params[:search_date], placeholder: "Inserisci data e ora", class: 'datetimepicker12 form-control' %>
		  
		  </div>

		  <div class="input-group-btn">
		  		<%= submit_tag "Cerca", :name => nil, class: "btn btn-in" %>
		  	</div>
		<% end %>
		<% if @city_user.blank? %>
			<p>Eventi a <%= link_to "Inserisci la tua città", edit_user_registration_path %></p>
		<% else %>
			<p>Eventi a <%= @city_user %></p>
		<% end %>

		<% if @erroreCitta == 1 %>
		     <p>Non ci sono eventi nella tua città!<br><small>Se il problema persiste, controlla la città nelle tue impostazioni!</small></p>
		<% elsif @events_ids.empty? %>
			<p>Non ci sono eventi nella tua città!</p>
		<% else %>
			<ol class="events">
		   		<%= render @events %>
			</ol>
			<%= will_paginate @events %>
		<% end %>

	</div>
</div>

<script type="text/javascript">
  $(function () {
    $('.datetimepicker12').datetimepicker({
      sideBySide: true,
      format: 'D-M-YYYY HH:mm',
      minDate: moment()
    });
  });
</script>
