<%= provide(:title,'Seguiti') %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

		<h1>Seguiti</h1><br>

		<h4>Eventi seguiti (<%= @user.following_event.count %>):</h4>
		<ul class="events">
			<%= render @events %>
		</ul>
		<%= will_paginate @events %>

		<h4>Locali seguiti (<%= @user.following_local.count %>):</h4>
		<ul class="locals">
			<%= render @locals %>
		</ul>
		<%= will_paginate @locals %>

	</div>
</div>