<%= provide(:title, @event.name) %>

<center><h1><%= @event.name %></h1></center>
<center><h4><%= @event.local.name %></h4></center><br>

<% if @event.picture? %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <%= image_tag @event.picture.url, class: 'thumbnail' %>
      </div>

      <div class="col-sm-3">
        <% if user_signed_in? %>
          <% if current_user==@event.local.user && current_user.role=='Gestore' %>
            <%= link_to 'Modifica', edit_event_path(@event), class: "edit-link" %><br>
            <%= link_to "Elimina", @event, method: :delete,
                                           data: { confirm: "Sei sicuro?" }, class: "delete-link" %><br><br>
          <% elsif current_user==@event.local.user%>
          <% elsif current_user.role == 'admin' %>
          <%= link_to "Elimina", @event, method: :delete,
                                           data: { confirm: "Sei sicuro?" }, class: "delete-link" %><br><br>
          <% else %>
            <div id="follow_form">
              <% if current_user.following_event?(@event) %>
                <%= form_for(current_user.active_event_relationships.find_by(followed_id: @event.id),
               html: { method: :delete }) do |f| %>
                  <%= f.submit "Segui già", data: { confirm: "Sei sicuro?" }, class: "unfollow-btn" %>
                <% end %>
              <% else %>
                <%= form_for(current_user.active_event_relationships.build) do |f| %>
                  <div><%= hidden_field_tag :followed_id, @event.id %></div>
                  <%= f.submit "Segui", class: "follow-btn" %>
                <% end %>
              <% end %>
            </div>
          <% end 
        end %>
        
        <span><img src="/assets/eye-icon.png" width="20px" height="20px">&nbsp;&nbsp;<%= @event.followers.count %></span>
        <br><br>
        <div id="fb-root"></div>
        <script>
        /*window.fbAsyncInit = function(){
        		FB.init({
        			appId : '1602740183357651',
        			xfbml : true,
        			version : 'v2.9'
        		});
        		FB.AppEvents.logPageView();
        	};*/
          (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.9";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

        </script>

        <!-- *******************    NON CANCELLARE!! ci serve per quando avremo l'applicazione online!!    ******************** -->

        <!--<div class="fb-share-button" data-href='http://localhost:3000/events/'+<%= @event.id %> data-layout="button" data-size="small" data-mobile-iframe="
		false"> <a class="share-target style-scope ytd-sharing-renderer" target="_blank" href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2Fevents%2F' + <%= @event.id %> + '&amp;src=sdkpreparse' title="Condividi su facebook"> <yt-icon class="
		icon-resize style-scope ytd-sharing-renderer"><svg viewBox="0 0 48 48" preserveAspectRatio="xMidYMid meet" class="style-scope yt-icon" 
		style="pointer-events: none; display: block; width: 15%; height: 15%;"><g class="style-scope yt-icon">
        <rect fill="#3B5898" width="48" height="48" class="style-scope yt-icon"></rect>
        <path fill="#FFFFFF" d="M39.4,29.4l0.9-7.2h-7.2v-4.6c0-2.1,0.6-3.5,3.6-3.5h3.8V7.5c-0.7-0.1-2.9-0.3-5.6-0.3
          c-5.5,0-9.3,3.4-9.3,9.6v5.3h-6.3v7.2h6.3V48h7.5V29.4H39.4z" class="style-scope yt-icon"></path>
      </g></svg></yt-icon></a>
        </div>-->

        <div class="fb-share-button" data-href="https://www.ilmeteo.it/meteo/"+"Roma" data-layout="button" data-size="small" data-mobile-iframe="
		false"> <a class="share-target style-scope ytd-sharing-renderer" target="_blank" href="https://www.facebook.com/sharer/
		sharer.php?u=https%3A%2F%2Fwww.ilmeteo.it%2Fmeteo%2FRoma&amp;src=sdkpreparse" title="Condividi su facebook"> <img src="/assets/fb-share-btn.png" width="100px" height="25px"></a>
        </div>
        <br>
        <% if user_signed_in? && current_user.role != 'admin' %>
          <%= link_to "Segnala", signal_event_path(@event), method: :put, data:{confirm:"Sei sicuro?"} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <br>
      <!--<p>Nome evento: <%= link_to @event.name, @event %></p>-->
      <p><b>Locale:</b> <%= link_to @event.local.name, @event.local %></p>
      <p><b>Indirizzo:</b> <%= @event.local.address %></p>
      <p><b>Inizio:</b> <%= @event.start.strftime("ore %H:%M del %d-%m-%y") %></p>
      <p><b>Fine:</b> <%= @event.end.strftime("ore %H:%M del %d-%m-%y") %></p>
      <p><b>Descrizione:</b> <%= @event.description %></p>

        
      <% if user_signed_in? %>
        <% if current_user==@event.local.user %>
          Categoria: <%= @event.local.category %><br>
          <div class="timestamp">
            Postato <%= time_ago_in_words(@event.created_at) %> fa
          </div>
        <% end 
      end %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="col-sm-1"></div>
      <div class="col-sm-7">
        <!--<p>Nome evento: <%= link_to @event.name, @event %></p>-->
        <p><b>Locale:</b> <%= link_to @event.local.name, @event.local %></p>
        <p><b>Indirizzo:</b> <%= @event.local.address %></p>
        <p><b>Inizio:</b> <%= @event.start.strftime("ore %H:%M del %d-%m-%y") %></p>
        <p><b>Fine:</b> <%= @event.end.strftime("ore %H:%M del %d-%m-%y") %></p>
        <p><b>Descrizione:</b> <%= @event.description %></p>

        <% if user_signed_in? %>
          <% if current_user==@event.local.user %>
            Categoria: <%= @event.local.category %><br>
            <div class="timestamp">
              Postato <%= time_ago_in_words(@event.created_at) %> fa
            </div>
          <% end 
        end %>
      </div>
      <div class="col-sm-1"></div> 
      <div class="col-sm-3">
        <% if user_signed_in? %>
          <% if current_user==@event.local.user && current_user.role=='Gestore' %>
            <%= link_to 'Modifica', edit_event_path(@event), class: "edit-link" %><br>
            <%= link_to "Elimina", @event, method: :delete,
                                           data: { confirm: "Sei sicuro?" }, class: "delete-link" %><br><br>
          <% elsif current_user==@event.local.user%>
          <% elsif current_user.role == 'admin' %>
          <%= link_to "Elimina", @event, method: :delete,
                                           data: { confirm: "Sei sicuro?" }, class: "delete-link" %><br><br>
          <% else %>
            <div id="follow_form">
              <% if current_user.following_event?(@event) %>
                <%= form_for(current_user.active_event_relationships.find_by(followed_id: @event.id),
               html: { method: :delete }) do |f| %>
                  <%= f.submit "Segui già", data: { confirm: "Sei sicuro?" }, class: "unfollow-btn" %>
                <% end %>
              <% else %>
                <%= form_for(current_user.active_event_relationships.build) do |f| %>
                  <div><%= hidden_field_tag :followed_id, @event.id %></div>
                  <%= f.submit "Segui", class: "follow-btn" %>
                <% end %>
              <% end %>
            </div>
          <% end 
        end %>
        
        <span><img src="/assets/eye-icon.png" width="20px" height="20px">&nbsp;&nbsp;<%= @event.followers.count %></span>
        <br><br>
        <div id="fb-root"></div>
        <script>

        	/*window.fbAsyncInit = function(){
        		FB.init({
        			appId : '1602740183357651',
        			xfbml : true,
        			version : 'v2.9'
        		});
        		FB.AppEvents.logPageView();
        	};*/

          (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.9";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

        </script>

        <!-- *******************    NON CANCELLARE!! ci serve per quando avremo l'applicazione online!!    ******************** -->
        
        <!--<div class="fb-share-button" data-href='http://localhost:3000/events/'+<%= @event.id %> data-layout="button" data-size="small" data-mobile-iframe="
		false"> <a class="share-target style-scope ytd-sharing-renderer" target="_blank" href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2Fevents%2F' + <%= @event.id %> + '&amp;src=sdkpreparse' title="Condividi su facebook"> <yt-icon class="
		icon-resize style-scope ytd-sharing-renderer"><svg viewBox="0 0 48 48" preserveAspectRatio="xMidYMid meet" class="style-scope yt-icon" 
		style="pointer-events: none; display: block; width: 15%; height: 15%;"><g class="style-scope yt-icon">
        <rect fill="#3B5898" width="48" height="48" class="style-scope yt-icon"></rect>
        <path fill="#FFFFFF" d="M39.4,29.4l0.9-7.2h-7.2v-4.6c0-2.1,0.6-3.5,3.6-3.5h3.8V7.5c-0.7-0.1-2.9-0.3-5.6-0.3
          c-5.5,0-9.3,3.4-9.3,9.6v5.3h-6.3v7.2h6.3V48h7.5V29.4H39.4z" class="style-scope yt-icon"></path>
      </g></svg></yt-icon></a>
        </div>-->

        <div class="fb-share-button" data-href="https://www.ilmeteo.it/meteo/"+"Roma" data-layout="button" data-size="small" data-mobile-iframe="
		false"> <a class="share-target style-scope ytd-sharing-renderer" target="_blank" href="https://www.facebook.com/sharer/
		sharer.php?u=https%3A%2F%2Fwww.ilmeteo.it%2Fmeteo%2FRoma&amp;src=sdkpreparse" title="Condividi su facebook"> <img src="/assets/fb-share-btn.png" width="100px" height="25px"></a>
        </div>

        <br>
        <% if user_signed_in? && current_user.role != 'admin' %>
          <%= link_to "Segnala", signal_event_path(@event), method: :put, data:{confirm:"Sei sicuro?"} %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<br><br>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render "comments/widget", commentable: @event %>
  </div>
</div>