<% provide(:title, "Home") %>

<img src="assets/banner2.jpg" style="width:100%">
<div class="hidden-xs" style="position: absolute; top: 0; background-color: transparent; right:20px;">
  <br>
  <%= link_to "Accedi", new_user_session_path, class: "btn btn-sm btn-default" %>
  &nbsp;<%= link_to "Registrati", new_user_registration_path, class: "btn btn-sm btn-default" %>
</div> 
 
<br><br><br>

<div class="container">
  <div id="myCarousel" class="carousel slide">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
      	<div class="col-md-5">
      		<img src="assets/networkart.jpg">
      	</div>
      	<div class="col-md-7">
      		<div class="center jumbotron" style="background-color:white">
            <h1>Segui i tuoi eventi e locali preferiti</h1>
            <h2>
              Accedi in modalità utente per cercare tutti gli eventi intorno a te e salvare i tuoi preferiti da seguire! Visita e valuta ogni locale e scrivi la tua opinione!<p>Non sei ancora iscritto? <%= link_to "Registrati subito!", new_user_registration_path %></p>
            </h2>
            <%= link_to "Registrati", new_user_registration_path, class: "btn btn-lg btn-primary" %>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="col-md-5">
      		<img src="assets/networkart2.jpg">
      	</div>
      	<div class="col-md-7">
      		<div class="center jumbotron" style="background-color:white">
            <h1>Pubblica tutti gli eventi organizzati dal tuo locale</h1>
            <h2>
              Accedi in modalità gestore per creare la pagina del tuo locale e pubblicare tutti gli eventi che vuoi! Osserva cosa ne pensano gli altri utenti e continua a pubblicarne di nuovi!<p>Non sei ancora iscritto? <%= link_to "Registrati subito!", new_user_registration_path %></p>
            </h2>
            <%= link_to "Registrati", new_user_registration_path, class: "btn btn-lg btn-primary" %>
          </div>
      	</div>
      </div>
    
      <div class="item">
        <div class="col-md-5">
      		<img src="assets/networkart3.jpg" width="398"> <!-- -2px perchè spariva l'ultima linea a destra -->
      	</div>
      	<div class="col-md-7">
      		<div class="center jumbotron" style="background-color:white">
            <h1>Non vuoi iscriverti? Cerca subito!</h1>
            <h2>
              Se non vuoi iscriverti non potrai accedere a tutti i servizi offerti da Nightsout, ma potrai comunque cercare velocemente tutti gli eventi intorno a te per organizzare le tue serate, prova!
            </h2>
            <%= link_to "Cerca", search_path, class: "btn btn-lg btn-primary" %>
          </div>
      	</div>
      </div>
    </div>
    <br><br><br>

  	<!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li class="item1 active"></li>
	    <li class="item2"></li>
	    <li class="item3"></li>
	  </ol>
	</div>
</div>

<div style="padding-left:50px; padding-right:50px; width: 100%; background-image:url('assets/sfondo.jpg'); background-size:cover">
    <br><br><br><br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2"> 
    <h2 style="font-size:20px;color:white;">
      Dopo esserti registrato e aver effettuato l'accesso puoi cambiare modalità dalle impostazioni<br>
      In modalità utente puoi cercare tutti gli eventi intorno a te e salvare i tuoi preferiti da seguire!<br>Visita e valuta ogni locale e scrivi la tua opinione!<br>
      In modalità gestore puoi creare la pagina del tuo locale e pubblicare tutti gli eventi che vuoi!<br>Osserva cosa ne pensano gli altri utenti e continua a pubblicarne di nuovi!<br>
    </h2>
    <center><%= link_to "Accedi", new_user_session_path, class: "btn btn-lg btn-default" %>
    &nbsp;&nbsp;<%= link_to "Registrati", new_user_registration_path, class: "btn btn-lg btn-default" %></center>
    <br><br><br><br><br>
  </div>
</div>
</div>
<br><br><br>

<div style="padding-left:50px; padding-right:50px;">
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2 style="font-size:20px;">
      Se non vuoi iscriverti non potrai accedere a tutti i servizi offerti da Nightsout, ma potrai comunque cercare velocemente tutti gli eventi intorno a te per organizzare le tue serate, prova subito!<br>Inserisci un indirizzo e scopri tutti gli eventi e locali in zona; puoi inserire anche una categoria e una data per trovare l'evento più adatto a te!
    </h2>
    <center><%= link_to "Cerca", search_path, class: "btn btn-lg btn-primary" %></center>
  </div>
</div>
</div>
<br>

<script>
$(document).ready(function(){
  // Activate Carousel
  $("#myCarousel").carousel({interval: 5000});
    
  // Enable Carousel Indicators
  $(".item1").click(function(){
    $("#myCarousel").carousel(0);
  });
  $(".item2").click(function(){
    $("#myCarousel").carousel(1);
  });
  $(".item3").click(function(){
    $("#myCarousel").carousel(2);
  });
});
</script>