<%= provide(:title,'Cerca') %>

<h1> Cerca evento </h1>
<h2>Cerca tutti gli eventi vicino a un indirizzo! Puoi anche filtrare i risultati per categoria o data e ora:</h2><br>

<script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAXXF9Al_dOIDzdjzBcd5vgF8RtcWNE8_Y&libraries=places&sensor=false&callback=initialize" async defer></script>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
		<%= form_tag(search_path, :method => "get", id: "search-form") do %>
			<div class="form-inline">
				<%= select_tag(:search_category, options_for_select(['Ristorante','Pub','Dance']), include_blank: 'Inserisci categoria', class: 'form-control') %>
				&nbsp;&nbsp;
		    <%= text_field_tag :search_date, params[:search_date], placeholder: "Inserisci data e ora", class: 'datetimepicker12 form-control' %>		  
		  </div>
		  
		  <div class="input-group">
		  	<%= text_field_tag :search, params[:search], placeholder: "Inserisci indirizzo", id: "loc-search", class: "form-control" %>
		  	<div class="input-group-btn">
		  		<%= submit_tag "Cerca", :name => nil, class: "btn btn-in" %>
		  	</div>
			</div>
			<br>
			<div class="checkbox" style="margin-left:-20px">
    		<label>
   				Visualizza anche i locali in zona senza eventi in programma&nbsp;&nbsp;<%= check_box_tag 'also_empty', 'yes', false %> 
   			</label>
   		</div>
		<% end %>
		<br><br>
		<% if @address != nil %>
			<% if @locals.blank? && @empty_locals.blank? %>
				<h4>Non ci sono eventi o locali vicino a:</h4><%= @address %> 
      <% elsif @locals.blank? && @empty_locals.any? %>
        <h4>Non ci sono eventi vicino a: <%= @address %><br><br>
          <% if @empty_locals.size > 1 %>
            Ci sono <%= @empty_locals.size %> locali in zona:</h4>
          <% else %>
            C'è 1 locale in zona:</h4>
          <% end %>
          <br>
          <ul class="locals">
            <%= render partial: "/locals/local", collection: @empty_locals %>
          </ul>
          <%= will_paginate @empty_locals %>
			<% else 
					if @events.blank? && @empty_locals.blank?%>
						<h4>Non ci sono eventi o locali con queste caratteristiche vicino a:</h4><%= @address %>
          <% elsif @events.blank? && @empty_locals.any?%>
            <div id="map"></div><br>
            <h4>Non ci sono eventi vicino a: <%= @address %><br><br>
            <% if @empty_locals.size > 1 %>
              Ci sono <%= @empty_locals.size %> locali in zona:</h4>
            <% else %>
              C'è 1 locale in zona:</h4>
            <% end %>
            <br>
            <ul class="locals">
            <%= render partial: "/locals/local", collection: @empty_locals %>
          </ul>
          <%= will_paginate @empty_locals %>
					<% else %>
						<div id="map"></div><br>
						<h4>Eventi trovati:</h4>
						<ul class="events">
			    		<%= render @events %>
			  		</ul>
			  		<%= will_paginate @events %>
			<% 	end 
				end
			end %>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
  function initialize() {
    initAutocomplete();
    initMap(); 
  }

  function initAutocomplete() {
    var input = document.getElementById("loc-search");
    new google.maps.places.Autocomplete(input);
  }
  
	function initMap() {
    var myCenter = {lat: <%= @lat %> , lng: <%= @lng %>};
	  var map = new google.maps.Map(document.getElementById('map'), {
	    zoom: 12,
	    center: myCenter
	  });
    
    /*
    var marker1=new google.maps.Marker({
      position:myCenter,
      animation:google.maps.Animation.BOUNCE,
    });
    marker1.setMap(map);
    */
    var infowindow = new google.maps.InfoWindow();
    var marker, i;
    
    var features = <%= raw @positions %>;
    
    for (i = 0; i < features.length; i++) {  
      marker = new google.maps.Marker({
      	position: new google.maps.LatLng(features[i][0], features[i][1]),
      	map: map
      });
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent('<div>Evento: <a href="/events/'+features[i][4]+'">'+features[i][2]+'</a></div><div>Locale: <a href="/locals/'+features[i][6]+'">'+features[i][5]+'</a></div><div>'+features[i][3]+'</div>');
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

    var empty_features = <%= raw @empty_positions %>;
    
    for (i = 0; i < empty_features.length; i++) {  
      marker = new google.maps.Marker({
      	position: new google.maps.LatLng(empty_features[i][0], empty_features[i][1]),
      	map: map
      });
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent('<div>Locale: <a href="/locals/'+empty_features[i][3]+'">'+empty_features[i][2]+'</a></div><div>'+empty_features[i][4]+'</div><div>Nessun evento in programma</div>');
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  }
</script>

<script type="text/javascript">
  $(function () {
    $('.datetimepicker12').datetimepicker({
      sideBySide: true,
      format: 'D-M-YYYY HH:mm',
      minDate: moment()
    });
  });
</script>