<%= provide(:title, 'Tutti i locali') %>
<br><h1>Tutti i locali</h1><br>

<div class="row">
  <div class="col-md-12">
		<div class="form-inline" style="float:right">
  		<%= form_tag(locals_all_path, :method => "get", id: "search-form") do %>
  		<div class="form-group">
    		<div class="input-group">
      		<%= text_field_tag :search_local, params[:search_event], placeholder: " Cerca locale...", class: 'form-control-sm' %>
      		<span class="input-group-btn">
		  			<%= submit_tag "Cerca", :name => nil, class: "btn btn-xs btn-in" %>
		  		</span>
      	</div>
      </div>
    	<% end %>
  	</div>
	</div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3>Locali totali (<%= @locals.count %>)</h3><br>
    <ol class="events">
    	<%= render @locals %>
    </ol>
      	<%= will_paginate @locals %>
  </div>
</div>