<%= provide(:title,'Pubblica Evento') %>

<h1>Pubblica evento</h1><br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      
    	<%= form_for @event do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :Locale %><br />
    		<%= f.select :local_id, options_for_select(Local.find_by_sql(["SELECT * FROM locals WHERE user_id = ? ", current_user.id]).collect{|p| [ p.name,p.id] }), {:id => "select_local"} %>  <!-- value:id, option:name -->
  			<div class="field">
          <%= f.label :Nome %><br />
    			<%= f.text_field :name, placeholder: "Inserisci nome", class: "form-control" %>
  			</div>

        <div class="field">
          <%= f.label :Inizio %><br />
          <%= f.text_field :start, placeholder: "Inserisci data e ora di inizio evento", class: 'datetimepicker12 form-control' %>
        </div>

        <div class="field">
          <%= f.label :Fine %><br />
          <%= f.text_field :end, placeholder: "Inserisci data e ora di fine evento", class: 'datetimepicker12 form-control' %>
        </div>
  			
  			<div class="field">
          <%= f.label :Descrizione %><br />
    			<%= f.text_area :description, placeholder: "Inserisci descrizione", class: "form-control" %>
  			</div>
  			<span class="picture">
          <p>Inserisci un'immagine per l'evento:</p>
    			<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  			</span>
  			<%= f.submit "Pubblica", class: "btn btn-primary" %>
        <% end %>
        <br><br>
        <%= link_to 'Annulla', :back %>
	  
  </div>
</div>
      
<script type="text/javascript">
  $('#local_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });

  $(function () {
    $('.datetimepicker12').datetimepicker({
      sideBySide: true,
      format: 'HH:mm D-MM-YYYY',
      minDate: moment(),
      locale: moment.locale('it')
    });
  });
</script>