<%= provide(:title,'Pubblica Evento') %>

<h1>Pubblica eventi</h1>
<h2>Creazione, modifica e visualizzazione di tutti i tuoi eventi</h2>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= current_user.name %>
      </h1>
    </section>
	  <section class="event_form">
    	<%= form_for @event do |f| %>
    		<%= f.select :local_id, options_for_select(Local.find_by_sql(["SELECT * FROM locals WHERE user_id = ? ", current_user.id]).collect{|p| [ p.name,p.id] }), {:id => "select_local"} %>  <!-- value:id, option:name -->
  			<div class="field">
    			<%= f.text_field :name, placeholder: "Inserisci nome", class: "form-control" %>
  			</div>

        <div class="field">
          <%= f.text_field :start, class: 'datetimepicker12 form-control' %>
        </div>

        <div class="field">
          <%= f.text_field :end, class: 'datetimepicker12 form-control' %>
        </div>
  			
  			<div class="field">
    			<%= f.text_area :description, placeholder: "Inserisci descrizione", class: "form-control" %>
  			</div>
  			<span class="picture">
    			<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  			</span>
  			<%= f.submit "Post", class: "btn btn-primary" %>
		  <% end %>
		  <script type="text/javascript">
  		$('#local_picture').bind('change', function() {
    		var size_in_megabytes = this.files[0].size/1024/1024;
    		if (size_in_megabytes > 5) {
      		alert('Maximum file size is 5MB. Please choose a smaller file.');
    		}
  		});
		  </script>
	  </section>

  </aside>
  <div class="col-md-8">
    
    <% 
      
      current_user.locals.each do |l| 
        @cont=0
        if l.events.any?
          @cont += l.events.count 
    			@events = l.events.paginate(page: params[:page], :per_page => 3) %>
          <h3>Eventi in <%= l.name %>: (<%= @cont %>)</h3>
          <ol class="events">
            <%= render @events %>
          </ol>
          <%= will_paginate @events %>
    		<% end
    	 end 
    	 %>
    
  </div>
</div>

<!--<script type="text/javascript"> $('.datepicker').datepicker({format: 'dd-mm-yyyy'}); </script>-->
    <script type="text/javascript">
        $(function () {
            $('.datetimepicker12').datetimepicker({
               
                sideBySide: true,
                format: 'D-M-YYYY HH:mm',
                minDate: moment()
            });
        });
    </script>