<%= provide(:title,'Pubblica Evento') %>

<h1>Pubblica evento</h1><br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      
    	<%= form_for @event do |f| %>
    		<%= f.select :local_id, options_for_select(Local.find_by_sql(["SELECT * FROM locals WHERE user_id = ? ", current_user.id]).collect{|p| [ p.name,p.id] }), {:id => "select_local"} %>  <!-- value:id, option:name -->
  			<div class="field">
    			<%= f.text_field :name, placeholder: "Inserisci nome", class: "form-control" %>
  			</div>

        <div class="field">
          <%= f.text_field :start, class: 'datetimepicker12 form-control' %>
        </div>

        <div class="field">
          <%= f.text_field :end, class: 'datetimepicker12 form-control' %>
        </div>
  			
  			<div class="field">
    			<%= f.text_area :description, placeholder: "Inserisci descrizione", class: "form-control" %>
  			</div>
  			<span class="picture">
    			<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  			</span>
        </div>
    </div>
    <br><div class="row">
      <div class="col-xs-4 col-xs-offset-4">
      <div class="actions">
  			<%= f.submit "Pubblica", class: "btn btn-primary" %>

	  </div><br>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $('#local_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });

  $(function () {
    $('.datetimepicker12').datetimepicker({
      sideBySide: true,
      format: 'D-M-YYYY HH:mm',
      minDate: moment()
    });
  });
</script>