<header class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <nav>
      <!--<img src="assets/nightsout_scritta.png" style="width:90px; padding:5px; left:0px">-->
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <% if current_user.role == 'client' %>
            <li><%= link_to "Home", all_events_path %></li>
            <li><%= link_to "Cerca", search_path %></li>
            <li><%= link_to "Seguiti", following_path %></li>
            <li><%= link_to "Notifiche (" + Notification.where(['user_id = ? AND read = ?', current_user.id, false]).count.to_s + ")", notifications_path %></li>
            <li><%= link_to "Impostazioni", edit_user_registration_path %></li>
            <li><%= link_to "Esci", destroy_user_session_path, method: :delete %></li>
          <% elsif current_user.role == 'owner' %>
            <li><%= link_to "Tuoi eventi", your_events_path %></li>
            <li><%= link_to "Tuoi locali", your_locals_path %></li>
            <li><%= link_to "Notifiche (" + Notification.where(['user_id = ? AND read = ?', current_user.id, false]).count.to_s + ")", notifications_path %></li>
            <li><%= link_to "Impostazioni", edit_user_registration_path %></li>
            <li><%= link_to "Esci", destroy_user_session_path, method: :delete %></li>
          <% elsif current_user.role == 'admin' %>
            <li><%= link_to "Tutti gli eventi", events_all_path %></li>
            <li><%= link_to "Tutti i locali", locals_all_path %></li>
            <li><%= link_to "Tutti gli utenti", users_all_path %></li>
            <li><%= link_to "Notifiche (" + Notification.where(['user_id = ? AND read = ?', current_user.id, false]).count.to_s + ")", notifications_path %></li>
            <li><%= link_to "Esci", destroy_user_session_path, method: :delete %></li>
          <% elsif current_user.role == 'banned' %>
            <li><%= link_to "Esci", destroy_user_session_path, method: :delete %></li>
          <% end %>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Cerca", search_path %></li>
          <li><%= link_to "Accedi", new_user_session_path %></li>
          <li><%= link_to "Registrati", new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header> 
<div class="container">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
</div>
