<header class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>
          <% if current_user.role == 'client' %>
            <li><%= link_to "Home", all_events_path %></li>
            <li><%= link_to "Cerca", search_path %></li>
            <li><%= link_to "Seguiti", following_path %></li>
            <li><%= link_to "Notifiche", "#" %></li>
            <li><%= link_to "Impostazioni", edit_user_registration_path %></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
          <% elsif current_user.role == 'owner' %>
            <li><%= link_to "Tuoi eventi", publish_events_path %></li>
            <li><%= link_to "Tuoi locali", publish_locals_path %></li>
            <li><%= link_to "Notifiche", "#" %></li>
            <li><%= link_to "Impostazioni", edit_user_registration_path %></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
          <% end %>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Cerca", search_path %></li>
          <li><%= link_to "Accedi", new_user_session_path %></li>
          <li><%= link_to "Registrati", new_user_registration_path %></li>
        <% end %>

      </ul>
    </nav>
  </div>
</header>