<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Nightsout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPrju4jKR4_YQJ22PRglSpUfeW9EHDASg&callback=initMap"
                                       async defer></script>
  </head>

  <body>
  	<% @title = yield(:title) %>
  	<%if @title != 'Home' %>
  		<%= render 'layouts/header'%>
  		<div class="container">
  			<%= yield %>
    		<%= render 'layouts/footer' %>
    	</div>
  	<% else %>
  		<%= yield %>
  		<div class="container">
    		<%= render 'layouts/footer' %>
    	</div>
  	<% end %>

  </body>
</html>